div(class="stat-type-container bg-light px-3 pt-3 pb-2 tab-option league-tab-option stats-tab-option rankings-tab-option matchups-tab-option records-tab-option profile-tab-option match-tab-option teamgen-tab-option" style="display:none")
    div(class="btn-toolbar" role="toolbar")
        div(class="tab-option stats-tab-option profile-tab-option match-tab-option btn-group btn-group-toggle btn-group-sm mb-2 mr-sm-2" data-toggle="buttons" style="display:none")
            label(class="btn btn-primary active")
                input(type="radio", name="side", value="survivor", checked)
                | Survivor
            label(class="btn btn-primary")
                input(type="radio", name="side", value="infected")
                | Infected

        div(class="tab-option stats-tab-option profile-tab-option btn-group btn-group-toggle btn-group-sm flex-wrap mb-2 mr-sm-2" data-toggle="buttons" style="display:none")
            label(class="btn btn-primary active")
                input(type="radio", name="stat_type", value="indTotal", checked)
                | Total
            label(class="btn btn-primary")
                input(type="radio", name="stat_type", value="indRndAvg")
                | Average / Round
            label(class="btn btn-primary")
                input(type="radio", name="stat_type", value="indRndPct")
                | Average Team % / Round
            label(class="btn btn-primary")
                input(type="radio", name="stat_type", value="indNorm")
                | Z-Score
            label(class="btn btn-primary")
                input(type="radio", name="stat_type", value="indCdf")
                | Percentile
                
        div(class="tab-option match-tab-option btn-group btn-group-toggle btn-group-sm flex-wrap mb-2 mr-sm-2" data-toggle="buttons" style="display:none")
            label(class="btn btn-primary active")
                input(type="radio", name="match_stat_type", value="rndTotal", checked)
                | Round Total
            label(class="btn btn-primary")
                input(type="radio", name="match_stat_type", value="rndPct")
                | Round Team %
            label(class="btn btn-primary")
                input(type="radio", name="match_stat_type", value="total")
                | Match Total
            label(class="btn btn-primary")
                input(type="radio", name="match_stat_type", value="rndAvg")
                | Match Average / Round
            label(class="btn btn-primary")
                input(type="radio", name="match_stat_type", value="pct")
                | Match Team %
                    
        div(class="form-inline" id="teamgen-form" class="tab-option teamgen-tab-option needs-validation" novalidate style="display:none")
            each val in [0, 1, 2, 3, 4, 5, 6, 7]
                select(id="teamgen-p"+val class="teamgen form-control form-control-sm mb-2 mr-sm-2")
                    each player in players
                        option(value=player.steamid) #{player.name}

        div(class="tab-option stats-tab-option rankings-tab-option matchups-tab-option records-tab-option teamgen-tab-option btn-group btn-group-toggle btn-group-sm flex-wrap mb-2 mr-sm-2" data-toggle="buttons" style="display:none")
            each opt, index in seasonOptions
                label(class="btn btn-primary" + (index == 0 ? " active" : ""))
                    input(type="radio", name="season_type", value=opt.value, checked)
                    | #{opt.text}
            label(class="btn btn-primary")
                input(type="radio", name="season_type", value="all")
                | All-time
                
        div(class="tab-option matchups-tab-option btn-group btn-group-toggle btn-group-sm flex-wrap mb-2 mr-sm-2" data-toggle="buttons" style="display:none")
            label(class="btn btn-primary active")
                input(type="radio", name="matchup_type", value="with", checked)
                | W-L With
            label(class="btn btn-primary")
                input(type="radio", name="matchup_type", value="against")
                | W-L Against
            label(class="btn btn-primary")
                input(type="radio", name="matchup_type", value="pvp_ff")
                | Friendly Fire
            label(class="btn btn-primary")
                input(type="radio", name="matchup_type", value="pvp_infdmg")
                | Damage as Infected
        
        div(class="tab-option matchup_type-options matchup_type-with matchup_type-against btn-group btn-group-toggle btn-group-sm flex-wrap mb-2 mr-sm-2" data-toggle="buttons" style="display:none")        
            label(class="btn btn-primary active")
                input(type="radio", name="wl_stat_type", value="wl", checked)
                | W-L
            label(class="btn btn-primary")
                input(type="radio", name="wl_stat_type", value="pct")
                | Win %

        div(class="tab-option matchup_type-options matchup_type-pvp_ff matchup_type-pvp_infdmg btn-group btn-group-toggle btn-group-sm flex-wrap mb-2 mr-sm-2" data-toggle="buttons" style="display:none")
            label(class="btn btn-primary active")
                input(type="radio", name="dmg_aggr_type", value="total", checked)
                | Total Damage
            label(class="btn btn-primary")
                input(type="radio", name="dmg_aggr_type", value="round")
                | Damage / Round

        div(class="form-inline")
            select(id="season-select" class="tab-option league-tab-option form-control form-control-sm mb-2 mr-sm-2" style="display:none")
                each opt in seasonOptions
                    option(value=opt.value) #{opt.text}
            select(id="league-matches-select" class="tab-option stats-tab-option rankings-tab-option form-control form-control-sm mb-2 mr-sm-2" style="display:none")
                each opt in matchOptions
                    option(value=opt.value, data-season=opt.season, style=(opt.season != seasonOptions[0].value ? "display:none" : "")) #{opt.text}
            select(id="matches-select" class="tab-option match-tab-option form-control form-control-sm mb-2 mr-sm-2" style="display:none")
                each opt in matchOptions
                    option(value=opt.value) #{opt.text}
            button(id="columns-menu" class="tab-option stats-tab-option match-tab-option btn btn-primary btn-sm mb-2 mr-sm-2" data-toggle="collapse" data-target=".columns-filter-container" aria-expanded="false" aria-controls="columns-filter-container" style="display:none") Columns Menu
            select(id="players-select" class="tab-option profile-tab-option form-control form-control-sm mb-2 mr-sm-2" style="display:none")
                each player in players
                    option(value=player.name) #{player.name}

    each side in ["survivor", "infected"]
        div(class=side)
            div(class="collapse columns-filter-container mb-2")
                div(class="card")
                    div(class="card-body")
                        div(class="form-inline d-flex")
                            button(id=side+"-columns-reset" class="btn btn-primary btn-sm mb-2 mr-sm-2") Show all
                            button(id=side+"-columns-clear" class="btn btn-primary btn-sm mb-2 mr-sm-2") Hide all
                            input(id=side+"-columns-search" class="form-control form-control-sm mb-2 flex-grow-1" type="text" placeholder="Column name, description, and category search...")
                        label(class="mb-0 font-weight-bold") Columns - Show/hide columns
                        div(class="btn-group-toggle" data-toggle="buttons")
                            each column in columns[side]
                                if column.data != "name"
                                    label(class="btn btn-secondary btn-sm active mb-2" for=column.data+"-checkbox")
                                        input(type="checkbox" id=column.data+"-checkbox" name=side+"-columns" value=column.data checked autocomplete="off")
                                        | #{column.header}
                                else
                                    input(class="form-check-input" style="display:none" type="checkbox" id=column.data+"-"+side+"-checkbox" name=side+"-columns" value=column.data checked)
                        label(class="mb-0 font-weight-bold") Categories - Show columns by category
                        div(class="form-inline")
                            each category, index in categories[side]
                                if index == categories[side].length - 1
                                    button(id=side+"-columns-category-"+category.id class=side+"-columns-category btn btn-secondary btn-sm mr-auto mb-2") #{category.header}
                                else
                                    button(id=side+"-columns-category-"+category.id class=side+"-columns-category btn btn-secondary btn-sm mr-1 mb-2") #{category.header}