div(class="tab-pane main-tab-pane fade" id="league" role="tabpanel" aria-labelledby="league-tab")
    div(class="row p-3 mb-3")
        div(class="col col-lg-6")
            h4 Teams and Standings
            each team in teams
                div(class="card mb-3 season-container season-" + team.season + (team.season === seasonOptions[0].value ? ' active' : ''))
                    div(class="card-body")
                        div(class="media")
                            img(src=team.logoImage class="mr-3" alt="Team Logo" width="100")
                            div(class="media-body")
                                h5
                                    strong #{team.name} 
                                    | #{team.wins}-#{team.losses}
                                table(class="table collapse-rows")
                                    thead
                                        tr
                                            th Captain
                                            th 1st Pick
                                            th 2nd Pick
                                            th 3rd Pick
                                    tbody
                                        tr
                                            td
                                                label.collapse-rows Captain 
                                                | #{team.name1}
                                            td
                                                label.collapse-rows 1st Pick 
                                                | #{team.name2}
                                            td
                                                label.collapse-rows 2nd Pick 
                                                | #{team.name3}
                                            td
                                                label.collapse-rows 3rd Pick 
                                                | #{team.name4}
                        div(class="media")
                            table(class="table collapse-rows")
                                thead
                                    tr
                                        th Week
                                        th Result
                                        th Opponent
                                        th Map
                                        th Match ID
                                tbody
                                    each match, index in teamMatches[team.season - 1][team.steamid_0]
                                        tr
                                            td
                                                label.collapse-rows Week 
                                                | #{index + 1}
                                            if match.result == 'W'
                                                td
                                                    label.collapse-rows Result 
                                                    span(class="text-success") #{match.result}
                                            else if match.result == 'L' || match.result == 'FF'
                                                td
                                                    label.collapse-rows Result 
                                                    span(class="text-danger") #{match.result}
                                            else if match.result == 'TBD'
                                                td
                                                    label.collapse-rows Result 
                                                    span(class="text-muted") #{match.result}
                                            else
                                                td
                                                    label.collapse-rows Result 
                                                    span #{match.result}
                                            td
                                                label.collapse-rows Opponent 
                                                | #{match.oppTeam}
                                            td
                                                label.collapse-rows Map 
                                                | #{match.map}
                                            if match.matchId
                                                td
                                                    label.collapse-rows Match ID 
                                                    a(href='/#/match/'+match.matchId) #{match.matchId}
        div(class="col col-lg-6")
            h4 Playoff Bracket
            include ../playoffbrackets/season1.pug
            include ../playoffbrackets/season2.pug
            include ../playoffbrackets/season3.pug
            each seasonMatches, seasonIndex in seasonMatchHistory
                div(class="season-container season-" + (seasonIndex + 1) + (seasonIndex + 1 === seasonOptions[0].value ? ' active' : ''))
                    h4 Schedule and Results
                    div(class="row")
                        each weekMatches, weekIndex in seasonMatches
                            div(class="col-lg-6 mb-3")
                                div(class="card")
                                    div(class="card-body")
                                        h4(class="card-title") Week #{weekIndex + 1}
                                        h6(class="card-subtitle mb-2 text-muted") #{weekMatches.map}
                                        p(class="card-text")
                                            each match in weekMatches.matches
                                                if match.loserTeam
                                                    if match.resultCode == 0
                                                        div
                                                            strong(class="text-success") #{match.winnerName} 
                                                            small vs 
                                                            span #{match.loserName} 
                                                            if match.matchId
                                                                a(class="float-right" href='/#/match/'+match.matchId) #{match.matchId}
                                                    else if match.resultCode == 4
                                                        div
                                                            strong(class="text-success") #{match.winnerName} 
                                                            small vs 
                                                            span #{match.loserName} 
                                                            small(class="text-danger") Forfeit
                                                    else if match.resultCode == 1
                                                        div
                                                            span #{match.winnerName} 
                                                            small vs 
                                                            span #{match.loserName} 
                                                            small(class="text-danger") Double Forfeit
                                                    else if match.resultCode == 3
                                                        div(class="text-muted")
                                                            span #{match.winnerName} 
                                                            small vs 
                                                            span #{match.loserName} 
                                                            small TBD
                                                    else
                                                        div
                                                            span #{match.winnerName} 
                                                            small vs 
                                                            span #{match.loserName} 
                                                            if match.matchId
                                                                a(class="float-right" href='/#/match/'+match.matchId) #{match.matchId}

                                                else
                                                    div(class="")
                                                        span #{match.winnerName} 
                                                        small BYE

            each draft in drafts
                div(class="season-container season-" + draft[0].season + (draft[0].season === seasonOptions[0].value ? ' active' : ''))
                    h4 Draft
                    table(class="table")
                        thead
                            tr
                                th Round
                                th Pick
                                th Player
                                th Captain
                        tbody
                            each row, rowIndex in draft
                                tr(class=(rowIndex % (draft.length / 3) == (draft.length / 3) - 1 ? 'round-divider' : ''))
                                    td #{row.round}
                                    td #{(row.round - 1) * (draft.length / 3) + (draft.length / 3 - row.draftOrder + 1)}
                                    td #{row.pick}
                                    td #{row.captain}