doctype html
html(lang="en")
    head
        title RL4D2LBUFF - Reddit Left 4 Dead 2 League Statistics
        meta(charset="UTF-8")
        meta(name="description" content="Statistics website for RL4D2L.")
        meta(http-equiv="Content-Language" content="en")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
        link(rel="stylesheet", type="text/css", href="css/"+cssName)
    body
        nav(class="navbar navbar-expand-md navbar-dark bg-primary")
            div(class="navbar-brand")
                img(src="img/brand.png" width="40" height="40" alt="")
            button(class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="navbar-collapse collapse" id="navbarsExampleDefault" style="")
                ul(class="nav navbar-nav mr-auto")
                    li(class="nav-item active")
                        a(class="nav-link" id="home-tab" data-toggle="tab" href="#/home" data-target="#home" role="tab" aria-controls="home" aria-selected="false") Home
                    li(class="nav-item")
                        a(class="nav-link" id="rankings-tab" data-toggle="tab" href="#/rankings" data-target="#rankings" role="tab" aria-controls="rankings" aria-selected="false") Rankings
                    li(class="nav-item")
                        a(class="nav-link" id="league-tab" data-toggle="tab" href="#/league" data-target="#league" role="tab" aria-controls="league" aria-selected="true") League
                    li(class="nav-item")
                        a(class="nav-link" id="matchups-tab" data-toggle="tab" href="#/matchups" data-target="#matchups" role="tab" aria-controls="matchups" aria-selected="false") Matchups
                    li(class="nav-item")
                        a(class="nav-link" id="matches-tab" data-toggle="tab" href="#/matches" data-target="#matches" role="tab" aria-controls="matches" aria-selected="false") Matches
                    li(class="nav-item")
                        a(class="nav-link" id="match-tab" data-toggle="tab" href="#/match" data-target="#match" role="tab" aria-controls="match" aria-selected="false") Match Detail
                    li(class="nav-item")
                        a(class="nav-link" id="records-tab" data-toggle="tab" href="#/records" data-target="#records" role="tab" aria-controls="records" aria-selected="false") W-L Records
                    li(class="nav-item")
                        a(class="nav-link" id="profile-tab" data-toggle="tab" href="#/profile" data-target="#profile" role="tab" aria-controls="profile" aria-selected="false") Profile
                    li(class="nav-item")
                        a(class="nav-link" id="teamgen-tab" data-toggle="tab" href="#/teamgen" data-target="#teamgen" role="tab" aria-controls="teamgen" aria-selected="false") TeamGen
                    li(class="nav-item d-none")
                        a(class="nav-link" id="compare-tab" data-toggle="tab" href="#/compare" data-target="#compare" role="tab" aria-controls="compare" aria-selected="false") Compare
        div(class="container-fluid")
            div(class="row mb-2")
                div(class="col")
                    div(class="stat-type-container")
                        div(class="row mb-2 mt-2")
                            div(class="col")
                                div(class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups")
                                    div(class="tab-option league-tab-option profile-tab-option match-tab-option btn-group btn-group-toggle btn-group-sm mt-2 mr-2" data-toggle="buttons" style="display:none")
                                        label(class="btn btn-primary active")
                                            input(type="radio", name="side", value="survivor", checked)
                                            | Survivor
                                        label(class="btn btn-primary")
                                            input(type="radio", name="side", value="infected")
                                            | Infected

                                    div(class="tab-option league-tab-option profile-tab-option btn-group btn-group-toggle btn-group-sm mt-2 mr-2 flex-wrap" data-toggle="buttons" style="display:none")
                                        label(class="btn btn-primary active")
                                            input(type="radio", name="stat_type", value="indTotal", checked)
                                            | Total
                                        label(class="btn btn-primary")
                                            input(type="radio", name="stat_type", value="indAvg")
                                            | Average / Round
                                        label(class="btn btn-primary")
                                            input(type="radio", name="stat_type", value="indRndPct")
                                            | Average Team % / Round
                                        label(class="btn btn-primary")
                                            input(type="radio", name="stat_type", value="indNorm")
                                            | Z-Score
                                        label(class="btn btn-primary")
                                            input(type="radio", name="stat_type", value="indCdf")
                                            | Percentile

                                    div(class="form-inline")
                                        select(id="league-matches-select" class="tab-option league-tab-option rankings-tab-option form-control form-control-sm mt-2 mr-2" style="display:none")
                                            each opt in matchOptions
                                                option(value=opt.value) #{opt.text}
                                        select(id="matches-select" class="tab-option match-tab-option form-control form-control-sm mt-2 mr-2" style="display:none")
                                            each opt in matchOptions
                                                option(value=opt.value) #{opt.text}
                                        button(class="tab-option league-tab-option btn btn-primary btn-sm mt-2 mr-2" data-toggle="collapse" data-target=".columns-filter-container" aria-expanded="false" aria-controls="columns-filter-container" style="display:none") Columns Menu
                                        select(id="players-select" class="tab-option profile-tab-option form-control form-control-sm mt-2 mr-2" style="display:none")
                                            each player in players
                                                option(value=player.steamid) #{player.name}
                                        
                    div(class="tab-content" id="nav-tabContent")
                        div(class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab")
                            div(class="row mb-2 mt-2")
                                div(class="col-md-6 col-lg-4 mt-2")
                                    table(class="table")
                                        thead
                                            tr
                                                th(scope="col") Map
                                                th(scope="col") Last Played On
                                        tbody
                                            each row in mapsTable
                                                tr
                                                    each cell in row
                                                        td #{cell}

                                div(class="col-md-6 col-lg-4 mt-2")
                                    div(class="card")
                                        h5(class="card-header") Servers
                                        ul(class="list-group list-group-flush")
                                            li(class="list-group-item")
                                                a(class="card-link" href="steam://connect/www.rl4d2l.xyz") Server 1
                                            li(class="list-group-item")
                                                a(class="card-link" href="steam://connect/www.rl4d2l.xyz:27016") Server 2
                                            li(class="list-group-item")
                                                a(class="card-link" href="steam://connect/www.rl4d2l.xyz:27017") Test Server
                                        div(class="card-footer")
                                            a(class="card-link" href="https://steamcommunity.com/groups/RL4D2L") Steam Group

                                div(class="col-md-6 col-lg-4 mt-2")
                                    div(class="card")
                                        h5(class="card-header") Custom Campaigns
                                        div(class="card-body")
                                            div(class="card-text") Download the .zip files and extract the .vpk files from them. Put the .vpk files in your l4d2 addons folder: 
                                                code C:\Program Files (x86)\Steam\steamapps\common\Left 4 Dead 2\left4dead2\addons
                                        ul(class="list-group list-group-flush")
                                            li(class="list-group-item")
                                                a(class="card-link" href="http://maps.rl4d2l.xyz/HardRainDownpour.zip") Hard Rain: Downpour
                                        div(class="card-footer")
                                            a(class="card-link" href="http://maps.rl4d2l.xyz/") Other Custom Campaigns
                                            
                                div(class="col-md-6 col-lg-4 mt-2")
                                    div(class="card")
                                        h5(class="card-header") Streams
                                        ul(class="list-group list-group-flush")
                                            li(class="list-group-item")
                                                a(class="card-link" href="https://www.twitch.tv/aerialwaffle") AwfulWaffle
                                            li(class="list-group-item")
                                                a(class="card-link" href="https://www.twitch.tv/coahre") Coahre
                                            li(class="list-group-item")
                                                a(class="card-link" href="https://www.twitch.tv/devilesk") devilesk
                                            li(class="list-group-item")
                                                a(class="card-link" href="https://www.twitch.tv/gofu_") Gofu
                                            li(class="list-group-item")
                                                a(class="card-link" href="https://www.twitch.tv/seevil") Seevil
                                            li(class="list-group-item")
                                                a(class="card-link" href="https://www.twitch.tv/tonyzesniper") TonyZeSnipa
                                            li(class="list-group-item")
                                                a(class="card-link" href="https://www.twitch.tv/hugthebed2") Wicket

                                div(class="col-md-6 col-lg-4 mt-2")
                                    div(class="card")
                                        h5(class="card-header") Power Rankings
                                        ul(class="list-group list-group-flush")
                                            li(class="list-group-item")
                                                a(class="card-link" href="https://www.reddit.com/r/redditdota2league/comments/bzhf56/reddit_left_4_dead_2_inhouse_league_power/") June 11th 2019
                                            li(class="list-group-item")
                                                a(class="card-link" href="https://www.reddit.com/r/redditdota2league/comments/b4a0ox/reddit_left_4_dead_2_inhouse_league_power/") March 22nd 2019
                                            li(class="list-group-item")
                                                a(class="card-link" href="https://www.reddit.com/r/redditdota2league/comments/ar28fv/reddit_left_4_dead_2_inhouse_league_power/") February 15th 2019
                                            li(class="list-group-item")
                                                a(class="card-link" href="https://www.reddit.com/r/redditdota2league/comments/afrwn4/reddit_left_4_dead_2_inhouse_league_power_rankings/") January 14th 2019
                                                
                                div(class="col-md-6 col-lg-4 mt-2")
                                    div(class="card border-0")
                                        img(src="/img/cowtank.jpg" class="card-img m-auto cow-tank" alt="cowtank")

                        div(class="tab-pane fade" id="rankings" role="tabpanel" aria-labelledby="rankings-tab")
                            div(class="d-flex flex-wrap")
                                div(class="hot-container rankings-container mt-2 bg-light")
                                    div(id="table-rankings-total")
                                div(class="hot-container rankings-container mt-2 bg-light")
                                    div(id="table-rankings-survivor")
                                div(class="hot-container rankings-container mt-2 bg-light")
                                    div(id="table-rankings-infected")
                            div(class="row mb-2 mt-2")
                                div(class="col")
                                    div(class="rankings-chart-container")
                                        canvas(id="rankings-chart" width="200" height="200")
                                    div(id="rankings-chart-legend")
                                        
                        div(class="tab-pane fade" id="league" role="tabpanel" aria-labelledby="league-tab")
                            each side in ["survivor", "infected"]
                                div(class=side)
                                    div(class="row mt-2 collapse columns-filter-container")
                                        div(class="col")
                                            div(class="card")
                                                div(class="card-body")
                                                    label(class="mb-0 font-weight-bold") Columns - Show/hide columns
                                                    div(class="btn-group-toggle" data-toggle="buttons")
                                                        each column in columns[side]
                                                            if column.data != "name"
                                                                label(class="btn btn-secondary btn-sm active mb-2" for=column.data+"-checkbox")
                                                                    input(type="checkbox" id=column.data+"-checkbox" name=side+"-columns" value=column.data checked autocomplete="off")
                                                                    | #{column.header}
                                                            else
                                                                input(class="form-check-input" style="display:none" type="checkbox" id=column.data+"-"+side+"-checkbox" name=side+"-columns" value=column.data checked)
                                                    label(class="mb-0 font-weight-bold") Categories - Show columns by category
                                                    div(class="form-inline")
                                                        each category, index in categories[side]
                                                            if index == categories[side].length - 1
                                                                button(id=side+"-columns-category-"+category.id class=side+"-columns-category btn btn-secondary btn-sm mr-auto mb-2") #{category.header}
                                                            else
                                                                button(id=side+"-columns-category-"+category.id class=side+"-columns-category btn btn-secondary btn-sm mr-1 mb-2") #{category.header}
                                                    div(class="form-inline")
                                                        button(id=side+"-columns-reset" class="btn btn-primary btn-sm mr-2 mb-2") Show all
                                                        button(id=side+"-columns-clear" class="btn btn-primary btn-sm mr-2 mb-2") Hide all

                                div(class=side id=side)
                                    div(class="hot-container mt-2 bg-light")
                                        div(id="table-"+side)
                                    div(class="row mb-2 mt-2")
                                        div(class="col")
                                            div(class="chart-container "+side+"-chart-container")
                                                canvas(id=side+"-chart" width="200" height="200")
                                            div(id=side+"-chart-legend")
                                            
                        div(class="tab-pane fade" id="matchups" role="tabpanel" aria-labelledby="matchups-tab")
                            div(class="row mb-2 mt-2")
                                div(class="col")
                                    div(class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups")
                                        div(class="btn-group btn-group-toggle btn-group-sm mr-2" data-toggle="buttons")
                                            label(class="btn btn-primary active")
                                                input(type="radio", name="matchup_type", value="with", checked)
                                                | W-L With
                                            label(class="btn btn-primary")
                                                input(type="radio", name="matchup_type", value="against")
                                                | W-L Against
                                            label(class="btn btn-primary")
                                                input(type="radio", name="matchup_type", value="pvp_ff")
                                                | Friendly Fire
                                            label(class="btn btn-primary")
                                                input(type="radio", name="matchup_type", value="pvp_infdmg")
                                                | Damage as Infected
                                                
                                        div(class="btn-group btn-group-toggle btn-group-sm mr-2 matchup_type-options matchup_type-with matchup_type-against" data-toggle="buttons")
                                            label(class="btn btn-primary active")
                                                input(type="radio", name="wl_stat_type", value="wl", checked)
                                                | W-L
                                            label(class="btn btn-primary")
                                                input(type="radio", name="wl_stat_type", value="pct")
                                                | Win %
                                                
                                        div(class="btn-group btn-group-toggle btn-group-sm mr-2 matchup_type-options matchup_type-pvp_ff matchup_type-pvp_infdmg" data-toggle="buttons" style="display:none")
                                            label(class="btn btn-primary active")
                                                input(type="radio", name="dmg_aggr_type", value="total", checked)
                                                | Total Damage
                                            label(class="btn btn-primary")
                                                input(type="radio", name="dmg_aggr_type", value="round")
                                                | Damage / Round
                            div(class="row mb-2 mt-2")
                                div(class="col")
                                    div(class="hot-container bg-light")
                                        div(id="matchups-chart")
                                        
                        div(class="tab-pane fade" id="matches" role="tabpanel" aria-labelledby="matches-tab")
                            div(class="row mb-2 mt-2")
                                div(class="col")
                                    div(class="card")
                                        div(class="card-body pb-2")
                                            div(class="row")
                                                div(class="col-12 col-lg-2")
                                                    label(class="mb-0 font-weight-bold") Map
                                                    div(class="form-group")
                                                        select(id="filter-maps" class="form-control form-control-sm mr-4 mb-2")
                                                            each opt in mapOptions
                                                                option(value=opt.value) #{opt.text}
                                                div(class="col-12 col-sm")
                                                    label(class="mb-0 font-weight-bold") Team
                                                    div(class="form-inline")
                                                        each val in [0, 1, 2, 3]
                                                            select(id="filter-p"+val class="form-control form-control-sm mr-2 mb-2")
                                                                option(value="") ------ any ------
                                                                each player in players
                                                                    option(value=player.name) #{player.name}
                                                div(class="col")
                                                    label(class="mb-0 font-weight-bold") Team
                                                    div(class="form-inline")
                                                        each val in [4, 5, 6, 7]
                                                            select(id="filter-p"+val class="form-control form-control-sm mr-2 mb-2")
                                                                option(value="") ------ any ------
                                                                each player in players
                                                                    option(value=player.name) #{player.name}
                                            div(class="row")
                                                div(class="col")
                                                    div(class="form-group form-inline")
                                                        button(id="filter" class="btn btn-primary mr-2") Filter
                                                        button(id="filter-clear" class="btn btn-primary") Clear
                                            div(id="filter-result" class="alert alert-success" role="alert" style="display:none")
                                        div(class="row")
                                            div(class="col mt-2")
                                                div(class="hot-container matches-container bg-light")
                                                    div(id="matches-table")
                                        
                        div(class="tab-pane fade" id="match" role="tabpanel" aria-labelledby="match-tab")
                            div(class="row mb-3 mt-2")
                                div(class="col")
                                    div(class="card")
                                        div(class="card-body")
                                            div(class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups")
                                                div(class="match-stat-type-group btn-group btn-group-toggle btn-group-sm mr-2 mb-2 flex-wrap" data-toggle="buttons")
                                                    label(class="btn btn-primary active")
                                                        input(type="radio", name="match_stat_type", value="rndTotal", checked)
                                                        | Round Total
                                                    label(class="btn btn-primary")
                                                        input(type="radio", name="match_stat_type", value="rndPct")
                                                        | Round Team %
                                                    label(class="btn btn-primary")
                                                        input(type="radio", name="match_stat_type", value="total")
                                                        | Match Total
                                                    label(class="btn btn-primary")
                                                        input(type="radio", name="match_stat_type", value="avg")
                                                        | Match Average
                                                    label(class="btn btn-primary")
                                                        input(type="radio", name="match_stat_type", value="pct")
                                                        | Match Team %
                                                div(class="form-inline")
                                                    each side in ["survivor", "infected"]
                                                        select(id="match-"+side+"-stat" class=side+" form-control form-control-sm mb-2")
                                                            each col in columns[side]
                                                                if col.data !== "name" && col.data !== "steamid" && col.data !== "plyTotalRounds" && col.data !== "infTotalRounds"
                                                                    option(value=col.data) #{col.header}
                                            div(class="chart-container match-chart-container mb-4")
                                                canvas(id="match-chart" width="200" height="200")
                                            div(class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups")
                                                div(class="match-pvp-type-group btn-group btn-group-toggle btn-group-sm mr-2 mb-2 flex-wrap" data-toggle="buttons")
                                                    label(class="btn btn-primary active")
                                                        input(type="radio", name="match_pvp_type", value="pvp_ff", checked)
                                                        | Friendly Fire
                                                    label(class="btn btn-primary")
                                                        input(type="radio", name="match_pvp_type", value="pvp_infdmg")
                                                        | Damage as Infected
                                                div(class="match-pvp-type-group btn-group btn-group-toggle btn-group-sm mr-2 mb-2 flex-wrap" data-toggle="buttons")
                                                    label(class="btn btn-primary active")
                                                        input(type="radio", name="match_pvp_aggr_type", value="round", checked)
                                                        | Round Total
                                                    label(class="btn btn-primary")
                                                        input(type="radio", name="match_pvp_aggr_type", value="match")
                                                        | Match Total
                                            div(class="chart-container match-chart-container")
                                                canvas(id="match-pvp-chart" width="200" height="200")
                                    
                        div(class="tab-pane fade" id="records" role="tabpanel" aria-labelledby="records-tab")
                            div(class="row mb-2 mt-2")
                                div(class="col")
                                    div(class="hot-container records-container bg-light")
                                        div(id="records-table")
                                
                        div(class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab")
                            div(class="row mb-2 mt-2")
                                div(class="col survivor" id="profile-nav-survivor")
                                    div(class="row mb-2 mt-2")
                                        div(class="col")
                                            div(class="card")
                                                div(class="card-body")
                                                    select(id="profile-survivor-stat" class="survivor form-control")
                                                        each col in columns.survivor
                                                            if col.data !== "name" && col.data !== "steamid"
                                                                option(value=col.data) #{col.header}
                                                    div(class="chart-container trend-chart-container")
                                                        canvas(id="survivor-trend-chart" width="200" height="200")
                                    div(class="row mb-2 mt-2")
                                        div(class="col-sm-6 col-md-4 col-lg-3")
                                            label Weapon Usage
                                            canvas(id="plyWeaponUsage-chart" width="200" height="200")
                                        div(class="col-sm-6 col-md-4 col-lg-3")
                                            label Accuracy
                                            canvas(id="plyAccuracy-chart" width="200" height="200")
                                        div(class="col-sm-6 col-md-4 col-lg-3")
                                            label Damage Taken
                                            canvas(id="plyDamageTaken-chart" width="200" height="200")
                                        div(class="col-sm-6 col-md-4 col-lg-3")
                                            label Kills
                                            canvas(id="plyKills-chart" width="200" height="200")
                                        div(class="col-sm-6 col-md-4 col-lg-3")
                                            label Damage Dealt
                                            canvas(id="plyDamage-chart" width="200" height="200")
                                div(class="col infected" id="profile-nav-infected")
                                    div(class="row mb-2 mt-2")
                                        div(class="col")
                                            div(class="card")
                                                div(class="card-body")
                                                    select(id="profile-infected-stat" class="infected form-control")
                                                        each col in columns.infected
                                                            if col.data !== "name" && col.data !== "steamid"
                                                                option(value=col.data) #{col.header}
                                                    div(class="chart-container trend-chart-container")
                                                        canvas(id="infected-trend-chart" width="200" height="200")
                                    div(class="row mb-2 mt-2")
                                        div(class="col-sm-6 col-md-4 col-lg-3")
                                            label Damage Dealt
                                            canvas(id="infDamage-chart" width="200" height="200")
                                        div(class="col-sm-6 col-md-4 col-lg-3")
                                            label Booms
                                            canvas(id="infBooms-chart" width="200" height="200")
                                        div(class="col-sm-6 col-md-4 col-lg-3")
                                            label Spawns
                                            canvas(id="infSpawns-chart" width="200" height="200")
                                            
                        div(class="tab-pane fade" id="teamgen" role="tabpanel" aria-labelledby="teamgen-tab")
                            div(class="row mb-2 mt-2")
                                div(class="col")
                                    div(class="card")
                                        div(class="card-body pb-2")
                                            div(id="teamgen-form" class="row needs-validation" novalidate)
                                                div(class="col-12")
                                                    label(class="mb-0 font-weight-bold") Players
                                                    div(class="form-inline")
                                                        each val in [0, 1, 2, 3, 4, 5, 6, 7]
                                                            select(id="teamgen-p"+val class="teamgen form-control form-control-sm mr-2 mb-2")
                                                                each player in players
                                                                    option(value=player.steamid) #{player.name}
                                        div(class="row")
                                            div(class="col mt-2")
                                                div(class="hot-container teamgen-container bg-light")
                                                    div(id="teamgen-table")
                                
                        div(class="tab-pane fade" id="compare" role="tabpanel" aria-labelledby="compare-tab")
                            div(class="row mb-2 mt-2")
                                div(class="col")
                                    label Radar Chart Example
                                    div(class="chart-container")
                                        canvas(id="radar-chart" width="200" height="200")
        script(src="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.js")
        script(src=src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js", integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js")
        script.
            var timestamps = !{JSON.stringify(timestamps)};
        script(src="js/"+scriptName)